*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;   
}
body{
    background: #E3E6E6;
}
.top-header{
    background: rgb(9, 9, 9);
    color:#fff;
    padding: 8px 20px;
}

.top-header .main-colum{
    display: flex;
    align-items: center;
}

.top-header .main-colum .logo-colum .logo:hover{
    border: 1px solid white;
}

.top-header .logo-colum{
    width: 13%;
}

.top-header .logo-colum img{
    width: 100px;
}

.top-header .search-colum{
    width: 61%;
    margin-left: 2%;
    margin-right: 2%;
}
.top-header .card-colum{
    width: 22%;
    display: flex;
    justify-content: end;
}

  .top-header .search-colum input, .top-header .search-colum  select {
    width: 100%;
    padding: 12px;
    border: none;
}

.top-header .search-colum input:focus-visible{
    outline: none;
}
.top-header .search-colum .form:hover{
    border: 2px solid orange;
    border-radius: 10px;
}

.top-header .card-colum .flag:hover{
    border: 1px solid white;
}

.top-header .form{
    display: flex;
    
}

.top-header .selectoption select{
   
    border-radius: 5px 1px 0px 5px;
    background: #D4D4D4; 
    padding: 9px;
}
.top-header .selectoption{
    width: 5%;
}

.top-header .searchbox{
    width: 90%;
   
}
.top-header .submitbox{
    width: 5%;
    position: relative;
}
.top-header .search-colum input{
    padding: 10px;
}
.top-header .submitbox input{
    background: #febd69;
}

.top-header .submitbox::after{
    content: '\f002';
    position: absolute;
    font-family: fontawesome;
    left: 50%;
    top: 50%;
    color: black;
    font-size: 20px;
    transform:translate(-50%,-50%)
     
}

.top-header .logo-colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.top-header a{
    color: white;
    text-decoration: none;
}
.top-header .location:hover{
    border: 1px solid white;
}
.top-header .location{
    position: relative;
    padding-top: 12px;
}
.top-header .location:after{
    content: '\f3c5';
    position: absolute;
    font-family: fontawesome;
    top: 50%;
    transform: translateX( -50px);
    left: 30px;
    font-size: 20px;

}

.top-header li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}
.top-header li:last-child{
    padding-right: 0;
}
.top-header .card-colum strong{
    display: block;
}
.top-header .card-colum ul{
    display: flex;
    align-items: center;
}
.top-header .card-colum select{
     font-size: 16px;
     background: transparent;
     color: #fff;
     border: none;
     font-weight: 500;
     width: 45px;

}

.top-header .card-colum{
    padding-right: 25px;
}

.top-header .card-colum li:hover{
    border: 1px solid white;
}

.top-header .card-colum .flag{
    position: relative ;
    padding-left: 35px;
}

.top-header .card-colum .flag::after{
    content: '';
    position: absolute;
    background: url(./img/american-flag-vector-24060639.jpg);
    width: 27px;
    height: 18px;
    left: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}




/* <!-- ............End Top Header...............    --> */


.main-header{
    display: flex;
    background: #232F3E;
    padding: 10px 30px;
    align-items: center;
}

.main-header li{
    display: inline-block;
    padding: 5px 5px;
    color: #fff;
    font-size: 15px;
}

.main-header .cleck-hear strong{
    color:#fff ;
    position: relative;
    padding: 15px 15px;
  
}

.main-header .cleck-hear strong:after{
    content: '\f0c9';
    position: absolute;
    font-family: fontawesome;
    left: 0;
    padding-left:15px ;
   font-size: 18px;
    transform: translateX( -20px);
}

.main-header .sirial-li li:hover{
    border: 1px solid white;
}

.main-header .cleck-hear a:hover{
    border: 1px solid white;
}
 
/* 

<!-- ..............End Main Header................ --> */


.container{
    max-width: 1500px;
    margin: 0 auto;
}
.banner-section img{
    width: 100%;
}

/* <!-- .............End Banner Section........... --> */

.gaming-accessories-section{
    margin-top:  -300px;
}

.gaming-accessories-section .main-colum{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}

.gaming-accessories-section .main-colum img{
    width: 100%;
}
.gaming-accessories-section .image-colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

}

.gaming-accessories-section .flex-colum{
    background: #fff;
    padding: 24px 20px;
}
.gaming-accessories-section .flex-colum p{
    font-size: 13px;
}

.gaming-accessories-section .flex-colum h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.gaming-accessories-section .flex-colum a{
    text-decoration: none;
    color: #007185;
    font-size: 14px;
    padding-top: 18px;
    display: inline-block;
}

.gaming-accessories-section .flex-colum a:hover{
    color: #C7511F;
}

/* <!-- ..........End Gaming accessories section.............. --> */

.shop-deals-in-fashion .main-colum{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
    padding-top: 20px;
}

.shop-deals-in-fashion .main-colum img{
    width: 100%;
}
.shop-deals-in-fashion .image-colum{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

}
.shop-deals-in-fashion .flex-colum{
    background: #fff;
    padding: 24px 20px;
}

.shop-deals-in-fashion .flex-colum p{
    font-size: 13px;
}

.shop-deals-in-fashion .flex-colum h2{
    font-size: 20px;
    padding-bottom: 10px;
}

.shop-deals-in-fashion .flex-colum a{
    text-decoration: none;
    color: #007185;
    font-size: 14px;
    padding-top: 18px;
    display: inline-block;
}

.shop-deals-in-fashion .flex-colum a:hover{
    color: #C7511F;
}

/* <!-- ............ End Shop deals in fashion............. --> */

.product-slide{
    margin-top: 18px;
}
.product-slide .main-colum{
    column-count: 7;
    text-align: center;
    padding: 25px;

}
.product-slide .container{
    background-color:#fff ;
}
.product-slide h2{
    padding-left: 55px;
    padding-top: 25px;
}


/* 
<!-- 
............End Best Sellers in Books.............. --> */


.personal-care .main-img {
    display: grid;
   
    padding-top: 20px;
}

.personal-care .flex-colum{
    background: #fff;
    padding-left: 15px;
}

.personal-care .flex-colum img{
    padding-right: 20px; 
    
}

.personal-care .flex-colum h2{
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
   
}

.personal-care .flex-colum .padding-left{
    padding-left: 50px;
}


/* .........End Personal Care...................... */

.discound-section{
    margin-top: 18px;
}
.discound-section .main-colum{
    column-count: 6;
    padding: 15px;
}
.discound-section .container{
    background: #fff;
}
.discound-section h2{
    padding: 15px;
}
.discound-section .details button{
    background-color: red;
    height: 30px;
    width: 70px;
    color: #fff;

}



/* <!-- 
........... End Discound-section.............. --> */

.singin-section{
    background: #fff;
    padding: 54px 0;
    margin-top: 18px;

}
.singin-section .sing-in{
    text-align: center;
    margin: 0 auto;
    border: 2px solid #ddd;
    padding: 44px 0;
    border-radius: 5px;
}

.sing-in button{
    background-color: #ff9000;
    width: 13%;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}
.sing-in a{
    text-decoration: none;
}


/* .........End Singin section.......... */

.back-top{
    background-color: #485769;
}

.back-top .back{
    padding: 20px 0;
    text-align: center;
}
.back a{
    text-decoration: none;
    color: #fff;
}

/* <!-- ..........End Back top................ --> */


.amazon-pyment-section{
   background-color:#232F3E ;
   height: 500px;
   color: #fff;
}

.amazon-pyment-section .main-colum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px 300px;
}

.amazon-pyment-section .main-colum li{
    list-style: none;
}
.amazon-pyment-section .main-colum p{
    font-size: 20px;
}

.amazon-pyment-section .border{
    border: .1px solid #ddd;
}
.amazon-pyment-section .amazon-img img{
    height: 60px;
    width: 100px;
    display: inline-block;
    padding-left: 50px;
}
.amazon-pyment-section .amazon-img select , button{
    padding: 12px;
    background-color: #232F3E;
    color: #fff;
    padding-left: 0;


}
.amazon-pyment-section .amazon-img{
    padding: 60px 575px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: -10px;

}

/* ................End Amazon pyment section............... */

